{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=description>
        <meta name=viewport content="width=device-width, initial-scale=1, minimal-ui">
        <title>plantingjs</title>
        <link rel=stylesheet href="{% static "plantingjs/styles/main.css" %}">
    </head>
    <body>
        <script type=text/javascript src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fmhpMCKGM6BCMtsnn05GfxEK77jRHjc"></script>
        <div id="viewport" class="viewport"></div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript">
            function simple_save_callback(planting) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "create_planting" id_ %}',
                    data: JSON.stringify(planting),
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'html',
                    success: function(responseData, textStatus, jqXHR) {
                        $(location).attr('href', JSON.parse(responseData)['url']);
                    },
                });

            }
        </script>
        <script src="{% static "plantingjs/js/main.js" %}"></script>
        <script type="text/javascript">
            $(function() {
                PlantingInstance = new Planting( {
                    container:document.querySelector('.viewport'),
                    manifestoUrl: '{% static "manifesto.json" %}',
                    googleApiKey: 'AIzaSyD9fmhpMCKGM6BCMtsnn05GfxEK77jRHjc',
                    onSave: simple_save_callback
                });
            });
        </script>
    </body>
</html>
