{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=description>
    <meta name=viewport content="width=device-width, initial-scale=1, minimal-ui">
    <title>plantingjs</title>
    <link rel=stylesheet href="{% static "wysadzulice/styles/vendor.css" %}">
    <link rel=stylesheet href="{% static "wysadzulice/styles/main.css" %}">
  </head>
  <body>
    <div id="viewport" class="viewport"></div>
    <script src="{% static "wysadzulice/js/main.js" %}"></script>
    <script type="text/javascript">
      new WysadzUlice.NewCampaignView( {
        manifestoUrl: '{% static "wysadzulice/assets/main/manifesto.json" %}',
        googleApiKey: '{{ google_maps_key }}',
        saveUrl: '{% url "new_campaign" %}',
      });
    </script>
  </body>
</html>
