# -*- coding: utf-8 -*-

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'zfnfc**m%0%hbk+yh(y3a59+6(lng8b)h5br+0i#226uurt#a0'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

# Add Your Google Maps key here:
GOOGLE_MAPS_KEY = ''
